/*
 * License: The MIT License (MIT)
 * Author:E-bank IT team
 * Author email: @ebanka-it.com
 * Date: Fri Aug 23 2019
 * Description:
 * CSS file for Dashboard component's HTML file
 *
 */
mat-card {
  margin: 15px;
  display: inline-block;
  width: 84%;
  padding: 15px;
}

.info {
  display: block;
  /*position: relative;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 2px;
    /*left: 233px;
    bottom: 577px;
    width: 90%;
    /*height: 879px;
    background-color: #fffffff5;*/
}

.avatar {
  position: relative;
  right: 896px;
}

.avatar-title {
  position: relative;
  left: 92px;
  top: 6px;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: lighter;
  color: dimgray;
}

.contact-btn {
  border-radius: 18px;
  top: 6px;
  right: 6px;
}

.quick-info {
  display: -webkit-inline-box;
  margin-bottom: 13px;
  position: relative;
  left: 497px;
  bottom: 70px;
}

.flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: 14px;
  margin-right: -8px;
  margin-top: 0px;
  margin-bottom: -71px;
  left: 464px;
  bottom: 61px;
}

.divider {
  margin-right: 15px;
  margin-left: 15px;
  border-color: #daa5206e;
  border-width: 2px !important;
}

.block-divider {
  position: relative !important;
  bottom: 64px;
  left: 17px !important;
  width: 953px !important;
  margin-bottom: -29px;
  border-top-color: #daa5206e;
}

.grid-card {
  max-width: 461px;
  max-height: 249px;
}

.grid-card-header-image {
  background-size: cover;
}

.icon {
  font-size: 48px;
}

.current-balance {
  font-size: 48px;
  font-weight: 100;
  color: goldenrod;
  text-align: center;
  margin: 0;
}

.current-balance-box {
  bottom: 19vh;
  width: 352px;
}

.current-balance-btn {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  left: 29px;
}

.list {
  width: 503px;
  height: 239px;
  left: 0px;
  overflow: hidden visible;
  cursor: pointer;
}

.list-exchange-calc {
  width: 509px;
  height: 300px;
  left: 0px;
  overflow: hidden visible;
}

.no-overflow {
  overflow: hidden hidden;
  cursor: default;
}

table {
  width: 100%;
}

.transaction-box {
  bottom: 5vh;
  width: 506px;
}

.exchange-box {
  bottom: 9vh;
  width: 506px;
}

.transfer-box {
  bottom: 25vh;
  width: 355px;
}

.transfer-buttons {
  bottom: 21px;
  position: relative;
}

tr.transaction-detail-row {
  height: 0;
}

tr.transaction-element-row:not(.transaction-expanded-row):hover {
  background: rgba(156, 146, 0, 0.158);
}

tr.transaction-element-row:not(.transaction-expanded-row):active {
  background: #efefef;
}

.transaction-element-row td {
  border-bottom-width: 0;
}

.transaction-element-detail {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transaction-element-description {
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 18px;
  opacity: 0.8;
  width: 374px;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 116px;
}

.sticky-header {
  z-index: 2 !important;
}

.header-row {
  height: 41px;
}

.no-transactions-message {
  text-align: center;
  margin-top: 7rem;
}

.currency {
  font-size: 23px;
}

.spinner {
  left: 144px;
  top: 63px;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke-width: 3%;
  stroke: goldenrod !important;
}

.gear-transactions {
  left: 178px;
}

.gear-currency-exchange {
  left: 140px;
}

.gear-funds-transfer {
  left: 74px;
}
/*# sourceMappingURL=dashboard.component.css.map */