<!--/*
* License: The MIT License (MIT)
* Author:E-bank IT team
* Author email: @ebanka-it.com
* Date: Fri Aug 23 2019
* Description:
* HTML which shows login form.
*
*/-->

<!--Login form-->
<mat-card layout='row' *ngIf="isVerified && !resetPassword && isLogin">
    <img class="logo-login" src="http://localhost:3000/repository/images/logo-login2.png" alt="E-Bank Logo">
    <!--<mat-card-title class="logo-name" >E-bank</mat-card-title>-->
    <p></p>
    <mat-card-title>Log In</mat-card-title>
    <mat-card-content>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <p>
                <mat-form-field>
                    <input id="email" matInput ngModel #emailInput="ngModel" type="email" name="email" placeholder="E-mail" required email>
                    <mat-error *ngIf="emailInput.invalid">Please enter valid e-mail</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput ngModel #passwordInput="ngModel" type="password" name="password" placeholder="Password" required>
                    <mat-error *ngIf="passwordInput.invalid">Please enter password.</mat-error>
                    <mat-hint (click)="onResetPassword(true)">Forgotten password?</mat-hint>
                </mat-form-field>
            </p>
            <div>
                <button mat-raised-button color="green" type="submit" *ngIf="!isLoading">Log in</button>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!--Password reset form-->
<mat-card layout='row' *ngIf="isVerified && resetPassword">
    <img class="logo-login" src="http://localhost:3000/repository/images/logo-login2.png" alt="E-Bank Logo">
    <!--<mat-card-title class="logo-name">E-bank</mat-card-title>-->
    <p></p>
    <mat-card-title>Password reset</mat-card-title>
    <mat-card-content>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form (submit)="onSendPasswordReset(resetForm)" #resetForm="ngForm" *ngIf="!isLoading">
            <p>
                <mat-form-field>
                    <input id="email" matInput ngModel #emailInput2="ngModel" type="email" name="email" placeholder="Enter e-mail to reset password" required email>
                    <mat-error *ngIf="emailInput2.invalid">Please enter valid e-mail</mat-error>
                </mat-form-field>
            </p>
            <div>
                <button mat-raised-button color="green" type="submit" *ngIf="!isLoading">Reset Password</button>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div>
                <button (click)="onResetPassword(false)" mat-raised-button color="green" type="submit" *ngIf="!isLoading">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- Form for activating account -->
<mat-card style='padding-bottom: 0px;' layout='row' *ngIf="!isVerified">
    <mat-card-subtitle *ngIf="!resendMessage">Please sign in to your email address {{verifyEmail}} and click the verification button to finish the registration process.</mat-card-subtitle>
    <mat-card-subtitle *ngIf="resendMessage">The new verification email has been sent to an address {{verifyEmail}}.</mat-card-subtitle>
    <mat-card-content>
        <mat-card-actions>
            <button (click)="resetIsVerified()" mat-raised-button color="green" type="submit">Go Back</button>
        </mat-card-actions>
        <mat-card-actions>
            <button style="margin-left: 1.5rem;" (click)="onResendVerifMail(verifyEmail, userName)" mat-raised-button color="green" type="submit">Resend verificational email</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<!-- Form for password reset -->
<mat-card style='padding-bottom: 0px;' layout='row' *ngIf="resetMessage">
    <mat-card-subtitle *ngIf="!resendResetMessage">Please sign in to your email address {{passResetEmail}} and click the password reset button to finish the password reset proces.</mat-card-subtitle>
    <mat-card-subtitle *ngIf="resendResetMessage">The new password reset email has been sent to an address {{passResetEmail}}.</mat-card-subtitle>
    <mat-card-content>
        <mat-card-actions>
            <div>
                <button (click)="resetResendPassMessage()" mat-raised-button color="green" type="submit">Go Back</button>
            </div>

        </mat-card-actions>
        <mat-card-actions>
            <div>
                <button style="margin-left: 1.5rem;" (click)="onResendPasswordReset(passResetEmail, userName)" mat-raised-button color="green" type="submit">Resend password reset email</button>
            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
