<h1 mat-dialog-title>We didn't recognize this email or password. <br>Please try again.</h1>
<div mat-dialog-content>
    <p class="mat-body-1">Suggestions:</p>
    <p class="mat-body-1">{{ data.message }}</p>
    <!--{{ data.message }}-->
    <!--<ul>
        <li>Check if CAPSLOCK button is pressed</li>
        <li><span style="color: #5241ec"><strong>Reset Password</strong></span></li>
        <li><span style="color: #5241ec">Contact Support</span></li>
    </ul>-->
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>