<!--
 * License: The MIT License (MIT)
 * Author:E-bank IT team
 * Author email: @ebanka-it.com
 * Date: Thu Aug 22 2019
 * Description:
 * This is a component for testing purposes. It can be
 * accessed through localhost:4200/test. Promena
 *
 -->

<mat-card layout='row' class="info" style="margin-top:4.6rem;">
    <mat-card-title-group>
        <mat-card-title class="avatar-title">Hello</mat-card-title>
        <mat-card-subtitle class="avatar-title">
            <button mat-raised-button class="contact-btn">Contact support.</button>
        </mat-card-subtitle>
        <img mat-card-avatar mat-card-sm-image class="avatar" src="http://localhost:3000/repository/images/support-f.png" alt="Support avatar">
    </mat-card-title-group>
    <mat-card-content class="quick-info">You are signed in as: <br> Test User
        <mat-divider class="divider" vertical="true" vertical style="height:60px"></mat-divider>
    </mat-card-content>
    <mat-card-content class="quick-info">Your client number: <br> 34000000-test
        <mat-divider class="divider" vertical="true" vertical style="height:60px"></mat-divider>
    </mat-card-content>
    <mat-card-content class="quick-info">Your account branch:<br> Test branch
        <mat-divider class="divider" vertical="true" vertical style="height:60px"></mat-divider>
    </mat-card-content>
    <mat-divider class="block-divider"></mat-divider>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="First">
            <p>Loading...</p>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
            </mat-grid-list>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-tab>
        <mat-tab label="Second">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>
</mat-card>